<!DOCTYPE html>
<html>
<head>
  <title>Widgetcorp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render :partial => 'shared/header' %>
  <div id="main-container" class="container-fluid">
    <div class="row-fluid">
      <%= yield %>
    </div>
    <%= render :partial => 'shared/footer' %>
    <script src="https://use.fontawesome.com/e6bb75f937.js"></script>
  </div>
</body>
</html>
